

<!-- Start page content -->
<section id="page-content" class="page-wrapper" class="center">

  <!-- PRODUCT TAB SECTION START -->
  <div class="col-md hidden-sm hidden-xs">
  <div class="product-tab-section mb-50">
    <div class="container">
      <div class="qwert">
        <div class="wrapper">

          <div class="faded">
            <div id="captioned-gallery" style="background:#fff;">
              <figure class="slider">
                <figure><img src="assets/img/author/B1.png" alt=""></figure>
                <figure><img src="assets/img/author/B2.png" alt=""></figure>
                <figure><img src="assets/img/author/B3.png" alt=""></figure>
                <figure><img src="assets/img/author/B2.png" alt=""></figure>
                <figure><img src="assets/img/author/B1.png" alt=""></figure>
              </figure>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>




  <!-- PRODUCT TAB SECTION START -->
  <div class="product-tab-section mb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="ipaltext section-title text-left mb-40">
            <br>
            <h2 class="uppercase">Каталог продукции</h2>
            <h6>Здесь вы найдете товар на любой вкус</h6>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="pro-tab-menu text-right">
          </div>
        </div>
      </div>
      <div class="product-tab">
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- popular-product start -->
          <div class="tab-pane active" id="popular-product">
            <div class="row">


              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Теплосчётчики'}">
                    <img src="assets/img/product/Теплосчётчики.jpg" alt=""></a>


                  <h3 class="">
                    <a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Теплосчётчики'}" class="button26">Теплосчётчики</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Регуляторы'}">
                    <img src="assets/img/product/Регуляторы.jpg" alt=""></a>


                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Регуляторы'}" class="button26">Регуляторы тепловой энергии</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}">
                    <img src="assets/img/product/Светильники.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}"
                       class="button26">Потолочные</a>
                  </h3>
                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">
                    <img src="assets/img/product/Настольные.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}" class="button26">Настольные</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">

                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}">
                    <img src="assets/img/product/Бра.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}" class="button26">Бра</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}">
                    <img src="assets/img/product/Уличные.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}" class="button26">Уличные</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}">
                    <img src="assets/img/product/Встраиваемые.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}"
                       class="button26">Встраиваемые</a>
                  </h3>

                </div>
                <br/>

              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}">
                    <img src="assets/img/product/Лампочки.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}" class="button26">Лампочки</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
            </div>
          </div>
          <!-- popular-product end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End page content -->
